<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <h3><%= f.label :email %></h3>
  <p><%= f.email_field :email, :autofocus => true %></p>

  <h3><%= f.submit "Send password reset instructions", class: "mybutton" %></h3>
<% end %>

<h3><%= render "devise/shared/links" %></h3>
